a {
    text-decoration: none;
    color: green;
}

a:hover, ::selection {
    text-decoration: none;
    color: darkseagreen;
    background-color: #222;
}

h2 {
    border-style: inset dashed;
    padding: 5px;
    text-align: center;
}

body {
    background: repeating-linear-gradient(#000, #000 20px, #222 20px, #222 25px);
    color: white;
}