@font-face {
    font-family: din;
    src: url(../lexicon/media/fonts/font.din.light.woff);
}

@font-face {
    font-family: ruhl;
    src: url(../lexicon/media/fonts/font.ruhl.woff);
}

@font-face {
    font-family: input;
    src: url(../lexicon/media/fonts/font.input.extralight.woff);
}

@font-face {
    font-family: domestic;
    src: url(../lexicon/media/fonts/font.domestic.pixel.woff);
}

a {
    text-decoration: none;
    color: #a1a1a1;
}

a:hover, ::selection {
    text-decoration: none;
    color: #ccc;
    background-color: #efefef;
}

h1 {
    font-family: "din";
    font-size: 12px;
}

h2 {
    font-weight: 100;
    background-color: #efefef;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-width:0;
    border-top: 1px dotted #fff;
    margin: 1em 0;
    padding: 0; 
}

summary {
    outline: none;
}

img {
    display: grid;
    border: 1px solid #ccc;
    width: auto;
    height: auto;
}

mark {
    background: #ccc;
    color:#fff;
    font-family: "input";
}

table, th, td {
    border: 0px;
}

tt {
    color: #3d3d3d; -webkit-font-smoothing: none;
}

.image {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}


body {
    background: hsla(25, 3%, 78%, 1);
    /*background-image: radial-gradient(hsla(0, 0%, 24%, 1) 5%, transparent 0);*/
    background-size: 15px 15px;
}