@font-face {
    font-family: din;
    src: url(lexicon/media/fonts/font.din.light.woff);
}

@font-face {
    font-family: ruhl;
    src: url(lexicon/media/fonts/font.ruhl.woff);
}

@font-face {
    font-family: input;
    src: url(lexicon/media/fonts/font.input.extralight.woff);
}

@font-face {
    font-family: domestic;
    src: url(lexicon/media/fonts/font.domestic.pixel.woff);
}

@font-face {
    font-family: paragraphs;
    src: url(lexicon/media/fonts/Consolas.ttf);
}

@font-face {
    font-family: tables;
    font-size: 20px;
    src: url(lexicon/media/fonts/Hack-Regular.ttf);
}

a {
    font-family: tables;
    text-decoration: none;
    color: #C05746;
}

a:hover, ::selection {
    text-decoration: none;
    color: #984134;
    background-color: #D9CAB3;
}

h1 {
    font-family: input;
    font-size: 12px;
}

h2 {
    color:#D9CAB3;
    font-weight: 400;
    background-color: #41521F;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-width:0;
    border-top: 1px dotted #fff;
    margin: 1em 0;
    padding: 0; 
}

summary {
    font-family: tables;
    color:#41521F;
    outline: none;
}

img {
    display: grid;
    border: 1px solid #ccc;
    width: auto;
    height: auto;
}

table, th, td {
    border: 0px;
}

tt {
    color: #3d3d3d; -webkit-font-smoothing: none;
}

.image {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}


body {
    background: #E7C9A9;
    /*background-image: radial-gradient(hsla(0, 0%, 24%, 1) 5%, transparent 0);*/
    background-size: 15px 15px;
}