<!doctype html>
<html class="no-js" lang="">
<link rel="icon" href="favicon.gif" type="image/png">  
<head>
	<title>{{name}}</title>
	<link rel="stylesheet" href="library.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
</head>
<tt>
<body>
	<header><a href="./index.html"><h1>home</h1></a></header>
	<details open>
		<summary>{{path}}</summary>
		<br>
		<table style="width:100%;">
            {% for row in table %}
            <tr>
                {% for item in row %}
                {% if item is none %}
                <td></td>
                {% elif item in pathlist %}
                <td><a href="./{{item}}.html">{{item}}</a>/</td>
                {% else %}
                <td><a href="./{{item}}.html">{{item}}</a></td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
		</table>
		<br>
	</details>
	<!--content-->{{originalcontent}}<!--content-->
	<p align="left"><a href="../about.html">about</a> | <a href="mailto:joelsm@usp.br">contact</a> | <a href="https://github.com/sbalphy/personal-site">source</a></p>
</body>
</tt>