/* variáveis globais são declaradas aqui */
:root {
    /* definição do esquema de cores da página */
    --main-bg: #E7C9A9;
    --side-bg: #D6A36D;
    --details: #41521F;
    --links:   #C05746;
    --link-hover: #683128;
    --link-bg: #D9CAB3;
}

/* fontes */
@font-face {
    font-family: input;
    src: url(lexicon/media/fonts/font.input.extralight.woff);
}

@font-face {
    font-family: tables;
    src: url(lexicon/media/fonts/Hack-Regular.ttf);
}

/* links */
a {
    text-decoration: none;
    color: var(--links);
}

a:hover, ::selection {
    text-decoration: none;
    color: var(--link-hover);
    background-color: var(--link-bg);
}

/* headers level 1, 2, add more if necessary */

h1 {
    font-family: input;
    font-size: 12px;
}

h2 {
    font-family: input;
    color: var(--details);
    background-size: cover;
}

/* horizontal separators */
hr {
    border: 0;
    height: 1px;
    background-image:linear-gradient(to right, var(--main-bg), 25%, var(--side-bg), 75%, var(--main-bg));
}

/* header for details objects (the ones where you click and it hides or reveals text) */
summary {
    font-family: tables;
    color:var(--details);
    outline: none;
}

/* */
p {
    text-indent: 2ch;
}
/* main body of text */

body {
    background: linear-gradient(to left, var(--side-bg), 1%, var(--main-bg), 99%, var(--side-bg));
    background-size: cover;
    display: block;
    max-width: 150ch;
    padding: 2ch;
    margin-top: 2ch;
    border: 5px double var(--details);
}